In [1]:
import yfinance as yf

## Import data

In [2]:
stock_list = ['AAPL', 'MSFT', 'AMZN', 'NVDA', 'GOOGL', 'GOOG', 'TSLA', 'UNH', 'META', 'XOM', 'JNJ', 'JPM', 'V', 'PG'
             'HD', 'MA', 'ABBV', 'CVX', 'AVGO', 'MRK', 'LLY', 'PEP','KO', 'PFE']
print('stock_list:', stock_list)

stock_list: ['AAPL', 'MSFT', 'AMZN', 'NVDA', 'GOOGL', 'GOOG', 'TSLA', 'UNH', 'META', 'XOM', 'JNJ', 'JPM', 'V', 'PGHD', 'MA', 'ABBV', 'CVX', 'AVGO', 'MRK', 'LLY', 'PEP', 'KO', 'PFE']

In [3]:
data = yf.download(stock_list, start="2013-03-22", end="2023-03-22")

[*********************100%***********************]  23 of 23 completed

1 Failed download:
- PGHD: Period 'max' is invalid, must be one of ['1d', '5d']

In [4]:
data.head()

                     Adj Close                                            \
                          AAPL       ABBV     AMZN       AVGO        CVX
Date
2013-03-22 00:00:00  14.247963  25.944092  12.8875  27.195913  80.051414
2013-03-25 00:00:00  14.299474  26.177101  12.8010  26.983200  79.390778
2013-03-26 00:00:00  14.224210  26.769625  13.0155  27.188309  79.919296
2013-03-27 00:00:00  13.944750  26.729670  13.2650  27.074360  79.397400
2013-03-28 00:00:00  13.654186  27.149092  13.3245  27.287069  78.492386

                                                                            \
                          GOOG      GOOGL        JNJ        JPM         KO
Date
2013-03-22 00:00:00  20.182102  20.278028  60.786514  36.941341  29.217482
2013-03-25 00:00:00  20.165415  20.261261  60.740765  36.744450  29.275867
2013-03-26 00:00:00  20.234655  20.330832  61.632656  36.835316  29.691795
2013-03-27 00:00:00  19.991568  20.086588  61.952839  36.176468  29.348839
2013-03-28 00:00:00  19.780607  19.874624  62.151062  35.941704  29.509375

                     ...    Volume                                          \
                     ...       MRK      MSFT      NVDA       PEP       PFE
Date                 ...
2013-03-22 00:00:00  ...  10463232  28720900  23247600  14228500  24346346
2013-03-25 00:00:00  ...  13746721  44154000  36207600   6873800  32376350
2013-03-26 00:00:00  ...  12694110  27824300  23254000   5183700  33567476
2013-03-27 00:00:00  ...  11497503  36047400  25494400   3601600  24848999
2013-03-28 00:00:00  ...  17440502  55453800  34927600   5338100  29449919


                    PGHD      TSLA      UNH         V       XOM
Date
2013-03-22 00:00:00  NaN   6603000  5415900  18790400  10786600
2013-03-25 00:00:00  NaN  35682000  5142500  19336800  12900800
2013-03-26 00:00:00  NaN  27123000  6059700  17264800  12329600
2013-03-27 00:00:00  NaN  19444500  8525800  13371200  12350800
2013-03-28 00:00:00  NaN  17380500  5685400  12456400  17485200

[5 rows x 138 columns]

In [5]:
data.to_csv('stock_price.csv', index = True, header = True)